         <div class ="breadcrumb">
                        <span sitemapproviders="SPSiteMapProvider,SPXmlContentMapProvider" hideinteriorrootnodes="true"><a href="index" width="0" height="0" style="border-width:0px;"></a><span><a class="bc-root" href="/index.html">Home</a></span><span>
                            <img id="ctl00_PlaceHolderMain_ctl00_ctl01_Image1" src="/_catalogs/masterpage/images/breadcrumb_line.png">
                        </span><a href="/design-patterns-pages/design-patterns.html">Design patterns</a></span>
        </div>