<hr class="ms-rteElement-spacer" />
<div class="contentLink"> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-sm-4 green"> 
            <div> 
               <h2> What is Safeguarding Adults?</h2> 
                <p>Safeguarding adults refers to the multi-agency procedure used to protect adults from abuse or neglect. </p>
<p>The procedures help people aged 18 years of age or over, with care and support needs.</p>
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">For more information</a> </div> 
         </li> 
         <li class="equal-item col-sm-4 green"> 
            <div>
               <h2> What is the Safeguarding Adults Board? </h2> 
               <p>The Leeds Safeguarding Adults Board is a statutory body, made up of organisations that work together to safeguard adults from abuse and neglect.</p> 
               <p>The achievements of the Board are set out in its Annual Reports.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">For more information</a> </div> 
         </li> 
         <li class="equal-item col-sm-4 blue"> 
            <div>
               <h2>Contacts</h2> 
               <p><strong>Report abuse or seek advice</strong></p> 
               <p>Social Care:          0113 222 4401
                   <br/>
                Out of hours: 07712 106 378   
               </p>
                <p><strong>To inform the police:</strong></p> 
               <p>In an emergency, 999
                   <br/>
                If the person is not in danger now, 101 
               </p>
             </div> 
         </li> 
      </ul> 
      <div class="clearfix"></div> 
   </div> 
</div>
<hr class="ms-rteElement-spacer" />