               <nav id="main-menu" class="footer">
                    <div class="container-fluid">
                        
                    <ul>
                       <li><a href="/index.html">Home</a></li>
                       <li><a href="/design-patterns-pages/design-patterns.html">Design patterns</a>
                       <ul>
                          <li><a href="/design-patterns-pages/carousel.html">Carousel</a></li>
                           <li><a href="/design-patterns-pages/accordion.html">Accordion</a></li>
                           <li><a href="/design-patterns-pages/promo.html">Promo</a></li>
                           <li><a href="/design-patterns-pages/group-promo.html">Group promo</a></li>
                           <li><a href="/design-patterns-pages/promoList.html">Promo list</a></li>
                           <li><a href="/design-patterns-pages/listdisplaywebpart1.html">List display webpart</a></li>
                           <li><a href="/design-patterns-pages/quote.html">Quote</a></li>
                           <li><a href="/design-patterns-pages/alerts.html">Alerts</a></li>
                           <li><a href="/design-patterns-pages/content-section.html">Content Section</a></li>
                           <li><a href="/design-patterns-pages/heroBanner.html">Hero banner</a></li>
                           <li><a href="/design-patterns-pages/iconLinks.html">Icon links</a></li> 
                           <li><a href="/design-patterns-pages/accessible-player.html">Accessible Player</a></li>
                           <li><a href="/design-patterns-pages/news.html">News</a></li> 
                       </ul>
                       </li>
                        <li><a href="#">Generators</a>
                             <ul>
                                 <li><a href="/generators/webchat.html">Web Chat</a></li>
                            </ul>
                        </li>
                       </ul>  
                          
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                