
                        
                   <ul>
                       <li><a href="/index.html">Home</a></li>
                       <li><a href="planyourvisit.html">Plan your visit</a>
                       </li>
                       <li><a href="meettheanimals.html">Meet the animals</a></li>
                       <li><a href="groupvisits">Group visits</a></li>
                       <li><a href="#">Keepers log</a></li>
                       <li><a href="#">Book tickets</a></li>
                   </ul>
                          
