    <div class="col-lg-12">
        <nav>
            <ul>
                <li>
                    <a href="#">Accessibility
                                            </a>
                </li>
                <li>
                    <a href="#">Privacy Statement
                                            </a>
                </li>
                <li>
                    <a href="#">Terms and Conditions
                                            </a>
                </li>
                <li>
                    <a href="#">Site Map
                                            </a>
                </li>
                <li>
                    <a href="#">Contact Us
                                            </a>
                </li>
                <li>
                    <a href="#" class="signin"><span>Sign in</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-6 logo-footer">
        <span>
                                </span>
        <p>Official local authority website for Leeds providing information on local services.
        </p>
    </div>
    <div class="col-sm-6 text-right">
        <div class="socialBookmarks">
            <ul>
                <li>
                    <h2>Connect with us:
                    </h2>
                </li>
                <li>
                    <a href="https://www.facebook.com/Leedscouncil/" class="facebook" target="_blank">
                        <span>Facebook
                                                </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/leedscc_help" class="twitter" target="_blank">
                        <span>Twitter
                                                </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/Leedscouncil" class="youtube" target="_blank">
                        <span>You tube
                                                </span>
                    </a>
                </li>
            </ul>
            <div class="clear">
                <!-- -->
            </div>
        </div>
        <p>Copyright © Leeds City Council 2016</p>
    </div>
