{% extends "layout_multi_sections.html" %}

{% block page_title %}
	News
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
News
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">News uses the lcc_news_article page</p>
{% endblock %}


{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionThreeContent %}
<div id="paging">
  <div class="inner">
    <ul class="content">
      <li style="display: list-item;">
        <div class="contentPod">
          <a href="http://breeze-2013.leeds.gov.uk/christmas-in-leeds-art-trail1" title="Christmas in Leeds - Art Trail">
            <div class="floatLeft"> <img src="http://breeze-2013.leeds.gov.uk/NEWS/PUBLISHINGIMAGES/CHRISTMAS-IN-LEEDS-ART-TRAIL1/SPIRIT.JPG" width="120px" height="120px"> </div>

              <p class="date">Wednesday, December 7, 2016 </p>
              <h3 class="" id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line1">
              Christmas in Leeds - Art Trail</h3>
              <p id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line2">
              A trail of art, light and magic across the city centre for the whole of December.</p>
              <span class="clearfix"></span>
          </a>
        </div>
      </li>
            <li style="display: list-item;">
        <div class="contentPod">
          <a href="http://breeze-2013.leeds.gov.uk/christmas-in-leeds-art-trail1" title="Christmas in Leeds - Art Trail">
            <div class="floatLeft"> <img src="http://breeze-2013.leeds.gov.uk/NEWS/PUBLISHINGIMAGES/CHRISTMAS-IN-LEEDS-ART-TRAIL1/SPIRIT.JPG" width="120px" height="120px"> </div>

              <p class="date">Wednesday, December 7, 2016 </p>
              <h3 class="" id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line1">
              Christmas in Leeds - Art Trail</h3>
              <p id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line2">
              A trail of art, light and magic across the city centre for the whole of December.</p>
              <span class="clearfix"></span>
          </a>
        </div>
      </li>
            <li style="display: list-item;">
        <div class="contentPod">
          <a href="http://breeze-2013.leeds.gov.uk/christmas-in-leeds-art-trail1" title="Christmas in Leeds - Art Trail">
            <div class="floatLeft"> <img src="http://breeze-2013.leeds.gov.uk/NEWS/PUBLISHINGIMAGES/CHRISTMAS-IN-LEEDS-ART-TRAIL1/SPIRIT.JPG" width="120px" height="120px"> </div>

              <p class="date">Wednesday, December 7, 2016 </p>
              <h3 class="" id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line1">
              Christmas in Leeds - Art Trail</h3>
              <p id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line2">
              A trail of art, light and magic across the city centre for the whole of December.</p>
              <span class="clearfix"></span>
          </a>
        </div>
      </li>
            <li style="display: list-item;">
        <div class="contentPod">
          <a href="http://breeze-2013.leeds.gov.uk/christmas-in-leeds-art-trail1" title="Christmas in Leeds - Art Trail">
            <div class="floatLeft"> <img src="http://breeze-2013.leeds.gov.uk/NEWS/PUBLISHINGIMAGES/CHRISTMAS-IN-LEEDS-ART-TRAIL1/SPIRIT.JPG" width="120px" height="120px"> </div>

              <p class="date">Wednesday, December 7, 2016 </p>
              <h3 class="" id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line1">
              Christmas in Leeds - Art Trail</h3>
              <p id="ctl00_ctl47_g_5e539bb2_51c0_4b30_a0a1_65512e6ea32d_csr3_LCC_News_line2">
              A trail of art, light and magic across the city centre for the whole of December.</p>
               <span class="clearfix"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionThreeRightHandColumn %}
                  
<div id="keywordFilter" data-module="keyword-filter" class="sectionSubsite news" data-module-started="false">
  <h3>View News By Keyword</h3>
  <input type="text" class="js-keyword">
  <a href="#" class="button js-keyword-submit">Go</a>
</div>
<div id="dateRangeFilter" class="sectionSubsite news" data-module="date-range-filter" data-module-started="false">
  <h3>View News By Date</h3>
  <div class="datePickerContainer">
    <label for="Start-date">Start date</label>
    <input name="Start-date" type="text" class="datepicker js-date-range-start hasDatepicker">
  </div>
  <div class="datePickerContainer">
    <label for="End-date">End date</label>
    <input name="End-date" type="text" class="datepicker js-date-range-end hasDatepicker">
    <a href="#" class="button js-date-range-submit">Go</a>
  </div>
  <div class="clearfix"></div>
</div>

  <div data-module="news-archive-filter" class="sectionSubsite news" data-module-started="false">
    <h3>News Archive</h3>
    <div id="archive">
      <ul class="accordion" data-module="accordion" data-accordion-drawer-panel=".accordion-drawer a ~ div" data-accordion-drawer-header=".accordion-drawer a">
        <li>
          <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>2016</a>
            <div class="content-block" style="display: none;">
              <a class="js-news-archive-filter-submit" href="#">Dec</a>
              <a class="js-news-archive-filter-submit" href="#">Nov</a>
              <a class="js-news-archive-filter-submit" href="#">Oct</a>
            </div>
          </div>
        </li>
        <li>
          <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>2015</a>
            <div class="content-block" style="display: none;">
              <a class="js-news-archive-filter-submit" href="#">Dec</a>
              <a class="js-news-archive-filter-submit" href="#">Nov</a>
              <a class="js-news-archive-filter-submit" href="#">Oct</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

           
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}