{% extends "layout_multi_sections.html" %}
{% block page_title %}
Plan your visit
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 <div class="backgroundImage" style="background: transparent url(https://tropicalworld.leeds.gov.uk/PublishingImages/meet-the-animals.jpg) no-repeat scroll 50% 0px;" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h1 style="display:block">Meet the animals</h1>
          <ul class="areas">
            <li class=""><div class="ExternalClassB04C20E3E38642D5B53A56493C489237"><p>Tropical World is home to loads of exciting and exotic animals. We have meerkats, monkeys, crocodiles, butterflies and so much more. </p></div>
</li>
            <li class="green"><a href="/Pages/meet-the-animals.aspx#rainforest-floor"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/frog.svg" alt="frog icon"><p>Waterfall area</p></a></li>
            <li class="lime"><a href="/Pages/meet-the-animals.aspx#aquarium"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/fish.svg" alt="fish icon"><p>Aquarium</p></a></li>
            <li class="yellow"><a href="/Pages/meet-the-animals.aspx#desert"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/mercat.svg" alt=""><p>Desert</p></a></li>
            <li class="orange"><a href="/Pages/meet-the-animals.aspx#canopy"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/bird.svg" alt=""><p>Rainforest canopy</p></a></li>
            <li class="magenta"><a href="/Pages/meet-the-animals.aspx#creature"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/spider.svg" alt=""><p>Creature corner</p></a></li>
            <li class="purple"><a href="/Pages/meet-the-animals.aspx#nocturnal"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/bat.svg" alt=""><p>Nocturnal</p></a></li>
            <li class="pink"><a href="/Pages/meet-the-animals.aspx#butterfly"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/butterfly.svg" alt=""><p>Butterfly</p></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="promoSection green" id="rainforest-floor" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Rainforest floor (Waterfall area)</h2>
      <p>
The rainforest floor is crawling with life. Take a look around and see for yourself. When you visit look closely and you’ll see leaf-cutter ants, butterfly pupae and the arrowhead plant, which grows enormous leaves 15 feet above the floor. 
</p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/frog.svg" alt="frog icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>Chocolate comes from the pods of cocoa trees&nbsp;in the rainforests of South &amp;&nbsp;Central America. If there were no rainforests we would have no chocolate, imagine that!</p></div>
&#8203;<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/RFF3.jpg" alt="Rainforest floor"></li>
        <li class="two imgCenter heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/frog.jpg" alt="frog"></li>
        <li class="one heightOne imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/coy.jpg" alt="coy"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection lime" id="aquarium" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Aquarium</h2>
      <p>
Come with us  on a journey below the surface of the water from mangroves and swamps  to rivers, lakes and the sea. Meet the incredible creatures that live there.
</p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/fish.svg" alt="frog icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>Clown Fish allow anemones’ tentacles to graze their bodies to build up a tolerance to the poison. They can then eat the anemones’ leftover food.</p></div>
<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/aquarium1.jpg" alt="nemo fish"></li>
        <li class="one heightOne imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/aquarium2.jpg" alt="seahorse"></li>
        <li class="two imgCenter heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/aquarium3.jpg" alt="pirana"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection yellow" id="desert" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Desert</h2>
      <p>
Wander among cacti and soak up the heat of our Yorkshire desert. Many think deserts are devoid of life but a visit to Tropical World will bury that myth.
</p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/mercat.svg" alt="frog icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>Meerkat gangs hunt together in a collaborative effort that involves designated lookouts which rotate regularly and rely on a series of distinct calls.</p></div>
<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/desert1.jpg" alt="mercat"></li>
        <li class="two heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/desert2.jpg" alt="Tortoise"></li>
        <li class="one imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/desert3.jpg" alt="cacti"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection orange" id="canopy" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Rainforest canopy</h2>
      <p>Climb up to the roof of the forest and get a bird’s eye view of what life is like suspended 20 metres above the rainforest floor.
                    </p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/bird.svg" alt="bird icon"></li>
        <li class="one content"><div class="ExternalClassB251A2DD69BF41D3B32A10BC815CCB12"><p><strong>Did you know?</strong></p>
<p>The cotton-top monkey is listed as critically endangered with only about 6,000 remaining in the wild.</p></div><img src="" alt=""></li>
        <li class="two m-res-margin-Left"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/ropey.jpg" alt="monkey"></li>
        <li class="two heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/rainforestCanopy2.jpg" alt="monkey"></li>
        <li class="one heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/rainforestCanopy3.jpg" alt="birds"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection magenta" id="creature" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Creature corner</h2>
      <p>
Unwind for a while and bask in the heat with our snakes, lizards and iguanas. Slither out of the rainforest and into creature corner  and meet our astonishing reptiles. 
</p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/spider.svg" alt="spider icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>The world’s longest snake species is the Reticulated Python, which can exceed the length of a double-decker bus.</p></div>
<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/creatureCorner1.jpg" alt="lizard"></li>
        <li class="one heightOne imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/creatureCorner2.jpg" alt="snake"></li>
        <li class="two heightOne"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/creatureCorner3.jpg" alt="lizard"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection purple" id="nocturnal" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Nocturnal</h2>
      <p>
You won’t believe your eyes as you step into Tropical World’s heart of darkness. Emerging from the blackness you’ll see some of the weirdest animals that roam the world while we sleep soundly in our beds at night.
</p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/bat.svg" alt="bat icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>An Armadillo’s armour is actually made of bone and is part of its skeleton. These bony plates are used as a protective shield from predators.</p></div>
<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/nocturnal1.jpg" alt="Bats"></li>
        <li class="two heightOne imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/nocturnal2.jpg" alt="Armadillo"></li>
        <li class="one"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/nocturnal3.jpg" alt="Madagascar Giant Jumping Rats"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="promoSection pink" id="butterfly" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="col-lg-12">
      <hr class="ms-rteElement-spacer">
      <h2 class="ms-rteElement-H2-center">Butterfly</h2>
      <p>Spread your wings and let your heart flutter in the butterfly house. Witness first-hand their life cycle from hungry caterpillar to sociable butterfly. 
                    </p>
      <ul>
        <li class="icon"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/butterfly.svg" alt="butterfly icon"></li>
        <li class="one content"><div class="ExternalClass9DBA6041918F44179C698CE046BB00DD"><p><strong>Did you know?</strong></p>
<p>We have between 20 and 30 species of butterflies at Tropical World. Our Owl Butterflies can grow up to 20cm. That’s the same size as a large dinner plate.</p></div>
<img src="" alt=""></li>
        <li class="two m-res-margin-Left imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/butterfly1.jpg" alt="butterfly"></li>
        <li class="two heightOne imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/butterfly2.jpg" alt="butterfly2"></li>
        <li class="one imgCenter"><img src="https://tropicalworld.leeds.gov.uk/PublishingImages/Croc6.jpg" alt="Croc!"></li>
      </ul>
      <hr class="ms-rteElement-spacer">
      <div class="clear"></div>
    </div>
  </div>
</div>
{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
<div class="ms-rtestate-field"><hr class="ms-rteElement-spacer">
<div class="ms-rteElement-divCenter"> 
   <p class="ms-rteElement-textHighLight"> Discover your inner explorer at Tropical World. An unforgettable journey through rainforest, mangroves, desert and the nocturnal world awaits. </p> 
   <a class="btn btn-primary absolute" href="http://tickets.tygit.com/tickets/buy-now/attractionId/180/group/General%20Admission">Book tickets</a> </div>
<hr class="ms-rteElement-spacer"></div>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

{% endblock %} 

{% block sectionTwoFull%} 

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
<div class="highlightSection">
    <div class="container-fluid">
    <div class="row">
         <div class="col-lg-12">
            	<div class="row full">
           
                   

                   <div class="col-md-6">
                   <h2 class="ms-rteElement-H2"><i class="fa fa-envelope-o" aria-hidden="true"> </i> Newsletter <br></h2>
                        <p class="lead">Keep in touch with all our latest news and events</p>
                     </div>   
                     <div class="col-md-6"> 
                             <a href="https://secured.leeds.gov.uk/_layouts/FormServer.aspx?XsnLocation=/infopathformtemplates/tropicalworldsubscriber.xsn" class="btn btn-primary pull-right" rel="">Subscribe now</a>
                </div>
              </div>     
        </div>
      </div>
    </div>
    </div>
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
<div class="ms-rtestate-field">  <h2 class="text-center">Keep in touch</h2>
             <ul class="iconLinks">
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/TropicalWorldLeeds" target="_blank" title="Connect with us on Facebook">
                    <span class="sr-only">This link opens in a new window</span>   
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/TropWorldLeeds" target="_blank" title="Follow us on Twitter">
                      <span class="sr-only">This link opens in a new window</span>      
                        twitter</a>
                </li>
                      <li class="email">
                    
                    <a href="https://tropicalworld.leeds.gov.uk/contact-us" title="Contact us">
  
                        contact us</a>
                </li>
            
                </ul>
<hr class="ms-rteElement-spacer">
    

    
    
    
    
    
    
    
    
    </div>
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}