{% extends "layout_multi_sections.html" %}
{% block page_title %}
Plan your visit
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 <div class="backgroundImage" style="background: transparent url(https://tropicalworld.leeds.gov.uk/PublishingImages/plan-your-visit.jpg) no-repeat scroll 50% 0px;" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h1>Plan your visit</h1>
          <div class="row">
            <div class="col-md-8 mb-m-20">
              <div class="ms-rteElement-divFull highlight">
                <h2 class="text-center">How to find Tropical World</h2>
                <div class="col-md-6 noPaddingLeft"><div class="ExternalClassDCC86B7A6D0341BF878C812CF044FED5"><p>Tropical World is at&#8203;<br><strong>Princes Avenue, Roundhay, Leeds, LS8 2ER</strong><br>Tel:0113 237 0754 (Monday to Friday) <br><br><br></p></div><a href="/contact-us" class="btn btn-primary full" rel="email">Contact us</a></div>
                <div class="col-md-6 noPaddingRight">
                  <iframe width="100%" height="250" style="padding-top:15px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9416.531554284016!2d-1.5047657!3d53.8405003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd0b06d5f59cff6e!2sTropical+World!5e0!3m2!1sen!2suk!4v1456227424366" frameborder="0"></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ms-rteElement-divFull highlight magenta text-center" style="min-height:360px">
                <h2>Access arrangements</h2><div class="ExternalClassDE7B463598D443FB8DBB1C75FC8792F7"><p>Our current policy allows free admission for carers on a 1:1 basis. Should there be a requirement for more than one carer these will be charged standard admission fees.</p><p>To obtain free entry t&#8203;o Tropical World carers need to provide identification as proof that they are a carer.
<br></p></div> &#8203;&#8203;&#8203;<br></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="ms-rteElement-divFull highlight yellow text-center" style="min-height:290px">
                <h2>Opening times</h2><div class="ExternalClassDE7B463598D443FB8DBB1C75FC8792F7"><p>
      <br>
      <strong>10am to 4pm</strong><br>(last admission at 3:30pm)<br></p><p>
      <strong>Holiday opening times</strong>:&nbsp;</p><p>Christmas eve and New year's eve, 10am until 2pm (last entry 1.30pm)</p><p></p><p>We are only&nbsp;closed on&nbsp;Christmas Day, Boxing Day and New Years Day&#8203;</p></div> &#8203;<br></div>
            </div>
            <div class="col-md-4">
              <div class="ms-rteElement-divFull highlight orange text-center" style="min-height:290px">
                <h2>Buses</h2><div class="ExternalClass9A444217BF2C4F01A605B839B4906830"><p>Numbers 2 and 12 stop right outside the door<br><br></p>
<a class="btn btn-primary full" href="http://www.wymetro.com/howtogetto/planajourney/">Find your bus</a>
</div>
&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div>
            </div>
            <div class="col-md-4">
              <div class="ms-rteElement-divFull lime highlight text-center" style="min-height:290px">
                <h2 class="text-center">Parking</h2><div class="ExternalClass08307A11FA254AE0B2791BC8029E7FF4"><p>Free parking is available close by and just a short walk to Tropical World. Disabled parking is available on Princes Avenue just outside the entrance to Tropical World. </p></div></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="ms-rteElement-divFull purple highlight">
                <h2 class="text-center">Prices</h2><div class="ExternalClassF1C0F064E01842A8A948D49200B0FA8B"><div class="col-md-6 noPaddingLeft"><ul><li>Adult<span class="pull-right"><strong>£6</strong></span></li><li>Child (5-15)<span class="pull-right"><strong class="text-right">£3</strong></span><br><span>An adult must accompany under 14s.</span> </li><li>Breezecard&#8203;<span class="pull-right"><strong>£2.40</strong></span></li></ul></div><div class="col-md-6 noPaddingRight"><ul><li>Leedscard*<span class="pull-right"><strong>£3.60</strong></span></li><li>Leedscard extra*<span class="pull-right"><strong>£2.40</strong></span></li></ul>
            <span class="pull-right">*Please note: discounted tickets can only be purchased at the ticket office (and not online).</span> 
      
   </div> &#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div> &#8203;&#8203;</div>
            </div>
            <div class="col-md-4"><a href="http://tickets.tygit.com/tickets/buy-now/attractionId/180/l/1/group/General%20Admission" class="btn btn-primary full">Book tickets now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block sectionOneFull%}
<hr class="ms-rteElement-spacer">
<div class="text-center"> 
   <a href="/Documents/TW%20A3%20map%20P6.pdf"> 
      <img alt="Tropical World map" src="https://tropicalworld.leeds.gov.uk/PublishingImages/TWmap.jpg"> </a></div>
      <hr class="ms-rteElement-spacer">
{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
<div class="highlightSection">
     <div class="row">
    <div class="col-md-4 box text-center magenta darken equal-item" style="height: 284px;">
                   <h2 class="ms-rteElement-H2-center"><i class="fa fa-map-o" aria-hidden="true"> </i> Route Map</h2>
                        <p class="lead text-center">All you need to navigate around<br> Tropical World</p>
                         <div class="ms-rteElement-divCenter">
                             <a href="http://tropicalworld.leeds.gov.uk/Documents/TW%20A3%20map%20P6.pdf" class="btn btn-primary" rel="pdf">Route map</a>
                        </div>
    
    </div>
     <div class="col-md-4 box magenta equal-item" style="height: 284px;">
                     <h2 class="ms-rteElement-H2-center"><i class="fa fa-map-o" aria-hidden="true"> </i> Park Map</h2>
                        <p class="lead text-center">Download our Roundhay Park<br> Map</p>
                         <div class="ms-rteElement-divCenter">
                             <a href="http://tropicalworld.leeds.gov.uk/Documents/Updated%20Roundhay%20Park%20Map%202010%20v3.pdf" class="btn btn-primary" rel="pdf">Park Map</a>
                        </div>
     </div>
     
          <div class="col-md-4 box magenta lighten equal-item" style="height: 284px;">
                     <h2 class="ms-rteElement-H2-center"><i class="fa fa-download" aria-hidden="true"> </i> Leaflet</h2>
                        <p class="lead text-center">Download our new leaflet for more<br> interesting facts</p>
                         <div class="ms-rteElement-divCenter">
                             <a href="http://tropicalworld.leeds.gov.uk/Documents/TropicalWorld-leaflet.pdf" class="btn btn-primary" rel="pdf">Download now</a>
                        </div>

     </div>
     </div>
     </div>
{% endblock %} 

{% block sectionTwoFull%} 
<div class="ms-rtestate-field"><hr class="ms-rteElement-spacer" id="cafe">
<h2 class="text-center" id="cafe">Tropical world café</h2> 
<p class="text-center"> After working up a thirst trekking through rainforest and desert make the most of your big kid’s day out by stopping off at the café for refreshments. The stylish new conservatory overlooks the beautiful Canal Gardens. There is plenty of seating both inside and out for those warmer days.</p> 
<br> 
<center> 
   <a class="btn btn-primary" href="/tropical-world-cafe">Visit the Tropical World Café page</a> </center> 
<br> 
<hr class="ms-rteElement-spacer"> 
<h2 class="text-center">Access arrangements</h2> 
<p class="text-center"> Our current policy allows free admission for carers on a 1:1 basis. Should there be a requirement for more than one carer these will be charged standard admission fees.</p> 
<p class="text-center">To obtain free entry to Tropical World carers need to provide identification as proof that they are a carer.</p> 
<p class="text-center"> 
   <strong>If you have any additional access requirements please phone us on 0113 237 0754 at least half an hour before you plan to visit to discuss them.</strong></p> 
<hr class="ms-rteElement-spacer"></div>
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

<h2 class="text-center">Shop</h2>
<div class="ms-rteElement-divThird"> 
   <p class="ms-rteElement-textHighLight">You really can take a meerkat home with you thanks to our huge range of cuddly toys</p>
   <p>Buy a cute souvenir and take a little bit of Tropical World away with you. It will be a reminder of your visit.</p>
   <p>We have a huge range of gifts in all shapes and sizes so don’t leave empty handed.<br></p> 
</div>
<div class="ms-rteElement-divThird image"> 
   <img src="http://tropicalworld.leeds.gov.uk/PublishingImages/GiftShop.jpg" alt="">&nbsp;</div>
<div class="ms-rteElement-divThird image"> 
   <img src="http://tropicalworld.leeds.gov.uk/PublishingImages/GiftShop2.jpg" alt="">&nbsp; 
   <p> 
   </p> 
</div>
<hr class="ms-rteElement-spacer">
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
<div class="highlightSection">
    <div class="container-fluid">
    <div class="row">
         <div class="col-lg-12">
            	<div class="row full">
           
                   

                   <div class="col-md-6">
                   <h2 class="ms-rteElement-H2"><i class="fa fa-envelope-o" aria-hidden="true"> </i> Newsletter <br></h2>
                        <p class="lead">Keep in touch with all our latest news and events</p>
                     </div>   
                     <div class="col-md-6"> 
                             <a href="https://secured.leeds.gov.uk/_layouts/FormServer.aspx?XsnLocation=/infopathformtemplates/tropicalworldsubscriber.xsn" class="btn btn-primary pull-right" rel="">Subscribe now</a>
                </div>
              </div>     
        </div>
      </div>
    </div>
    </div>
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
<div class="ms-rtestate-field">  <h2 class="text-center">Keep in touch</h2>
             <ul class="iconLinks">
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/TropicalWorldLeeds" target="_blank" title="Connect with us on Facebook">
                    <span class="sr-only">This link opens in a new window</span>   
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/TropWorldLeeds" target="_blank" title="Follow us on Twitter">
                      <span class="sr-only">This link opens in a new window</span>      
                        twitter</a>
                </li>
                      <li class="email">
                    
                    <a href="https://tropicalworld.leeds.gov.uk/contact-us" title="Contact us">
  
                        contact us</a>
                </li>
            
                </ul>
<hr class="ms-rteElement-spacer">
    

    
    
    
    
    
    
    
    
    </div>
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}