{% extends "layout_multi_sections.html" %}

{% block page_title %}
What is safeguarding adults?
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
What is safeguarding adults?
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<p>Safeguarding adults refers to the multi-agency procedures for protecting adults at risk from abuse or neglect.</p>
<p>If the person you are concerned about is over the age of 18 years of age, they have care and support needs, and you feel they are being abused or at risk of abuse from another person, you can seek help for them using the phone numbers below.</p>
<p>Wherever possible involve the person at risk in decisions about reporting a safeguarding concern. </p>
<p>Sometimes this may not be possible and sometimes you may need to act in their 'best interests' because they do not have the mental capacity to decide this for themselves. There are also occasions when you may need to report the concern without their permission, for example, it is in their vital interests, or other people are also at risk, or the person is unable to consent because of coercion or duress.</p>
<p>Dealing with allegations or concerns about abuse can be very difficult and distressing for everyone involved. Deciding what the right thing to do is can be stressful, particularly if the person you are concerned about is reluctant to accept support. If you are not sure what to do you can always seek advice.<br></p>
<h2>How to report a safeguarding adults concern</h2>
<hr class="ms-rteElement-Hr">

<h3>Report abuse or seek advice</h3>
<p>Contact Adult Social Care: <strong>0113 222 4401</strong></p>
<p>Out of hours: <strong>07712 106 378</strong></p>



<h3>Inform the Police</h3>
<p>In an emergency, contact the police:&nbsp;<strong>999</strong></p>
<p>If the person is not in danger now, contact the police: <strong>101</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}
<h3>What is safeguarding adults</h3>
<div class="sideNav">
  <ul class="nav">
    <li> <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/action-adventure-equipment-hire" title="Action adventure equipment hire"
        id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr1_2lines_line1Link">West Leeds Children's Centres</a> </li>
    <li>
      <a class="item active" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-active" title="Breeze Active" id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr2_2lines_line1Link">North Leeds Children's Centres</a>      </li>
    <li> <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-arts-festival" title="Breeze Arts Festival"
        id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr3_2lines_line1Link">East Leeds Children's Centres</a> </li>
    <li>
      <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-arts-foundation" title="Breeze Arts Foundation"
        id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr4_2lines_line1Link"> West Leeds Children
        's Centres</a> </li>

  </ul>
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<p>These procedure and policy documents are specifically aimed at professionals working in the field of adult social care.</p>
<p><img class="ms-rtePosition-4" src="http://www.leedssafeguardingadults.org.uk/PublishingImages/docListIconPDF2.png" alt="" style="margin:5px"><a href="/Documents/Multi%20Agency%20Safeguarding%20Adults%20Policy%20and%20Procedure%20for%20WY%20NY%20Y%20(1st%20Dec%202015).pdf">Multi&nbsp;Agency Safeguarding Adults&nbsp;Policy and Procedure&nbsp;- West and North Yorkshire and York</a><span>&nbsp;</span>PDF 1.4 MB</p>
<p><img class="ms-rtePosition-4" src="http://www.leedssafeguardingadults.org.uk/PublishingImages/docListIconPDF2.png" alt="" style="margin:5px"><a href="/Documents/Summary%20Guide%20to%20WY%20NY%20Y%20Multi-Agency%20Safeguarding%20Adults%20Process%20%20-%201st%20Dec%202015.pdf">Summary&nbsp;Guide:&nbsp;&nbsp;Safeguarding Adults Policy and Procedure</a><br>PDF 480 KB</p>


<div class="docList one">
  <div class="listWebpart">
    <ul>
      <li class="xl"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Checklist of sexual behaviour in children, and response for nursery and primary age<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
      <li class="external"><a href="/professionals/Documents/Children%20Missing%20from%20Services,%200-5%20years.pdf"><span class="info">Children missing from services, 0-5 years, Good Practice Guidance for Early Years Settings<span class="arrow"></span></span><span class="thirdInfo">WORD 168KB</span></a></li>
      <li class="word"><a href="/professionals/Documents/LSCB-Bruising-Protocol-2016.pdf"><span class="info">LSCB multi-agency bruising protocol<span class="arrow"></span></span><span class="thirdInfo">WORD 119 KB</span></a></li>
      <li class="pdf"><a href="/professionals/Documents/E%20safety%20guidance%202015.pdf"><span class="info">LSCB E-Safety Guidance 2015<span class="arrow"></span></span><span class="thirdInfo">PDF 712 KB</span></a></li>
      <li class="pp"><a href="/professionals/Documents/E%20safety%20guidance%202015.pdf"><span class="info">LSCB E-Safety Guidance 2015<span class="arrow"></span></span><span class="thirdInfo">Powerpoint 712 KB</span></a></li>
    </ul>
  </div>
</div>
<hr class="ms-rteElement-spacer" />

<h3>Policy documents</h3>
<p>this is some intro text to the documents below</p>
<a class="doc pdf" href="/professionals/Documents/E%20safety%20guidance%202015.pdf">LSCB E-Safety Guidance 2015</span><span >Powerpoint 712 KB</span></a>
<a class="doc word" href="/professionals/Documents/E%20safety%20guidance%202015.pdf">LSCB E-Safety Guidance 2015</span><span >word 712 KB</span></a>

<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}