<div class="blockLinks">
    <div class="listWebpart">
        <h2>Blocklinks style</h2>
        <ul>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item one</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item two</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item three</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item four</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item five</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item six</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item seven</a>
            </li>
            <li>
                <a class="equal-item" href="#"> <img src="/public/images/icon.svg">link item eight</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>