<div id="myCarousel" data-module="carousel" class="carousel slide">
  <ol class="carousel-indicators">
  </ol>
    <div class="carousel-inner">
        <div class="item active">
          <div class="fill" style="background-image:url(/public/images/Junior.jpg);"></div>
          <div class="carousel-caption external"><a href="http://leedsfitnessoffer.co.uk/free-kids-membership/"><h2><span>Kids get a free membership</span></h2>
              <p>Join as an adult Premier Member and add your children to your membership for free</p><span class="sr-only">External Link</span></a></div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url(/public/images/Student.jpg);"></div>
          <div class="carousel-caption External"><a href="http://leedsfitnessoffer.co.uk/"><h2><span>Home for the holidays?</span></h2>
              <p>Join now and pay just £20 per month for gym, swim, classes, climbing and squash.</p><span class="sr-only">External Link</span></a></div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url(/public/images/HL_Finding-Dory_WebBanner_e-v2.jpg);"></div>
          <div class="carousel-caption "><a href="/classesandactivities/swimming/Pages/default.aspx"><h2><span>FAMILY SWIM SESSIONS</span></h2>
              <p>Inspired by Finding Dory #JustKeepMoving. BOOK NOW</p></a></div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url(/public/images/Bodyline%20Carousel%20Image.jpg);"></div>
          <div class="carousel-caption "><a href="http://www.brownleetri.com/?utm_source=Bodyline&amp;utm_medium=Banner&amp;utm_campaign=Bodyline%20Banner"><h2><span>Enter the Brownlee Tri</span></h2>
              <p>Sprint and Super-Sprint distances at Harewood House in Leeds on 24th September</p></a></div>
        </div>
        <div class="item yes">
          <div class="fill" style="background-image:url(/public/images/I-Am-Team-GB.jpg);"></div>
          <div class="carousel-caption "><a href=""><h2><span>I Am Team GB</span></h2>
              <p>Find a free swim session near you!</p></a></div>
        </div>
    </div>
  </div>