<ul class="promo-group">
            <li class="equal-item"><a href="carousel.html"><h3>Carousel</h3><p>design pattern</p></a>
            </li>
            <li class="equal-item"><a href="accordion.html"><h3>Accordion</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="promo.html"><h3>Promo</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="group-promo.html"><h3>Group promo</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="promoList.html"><h3>Promo list</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="/design-patterns-pages/listdisplaywebpart1.html"><h3>List display webpart</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="quote.html"><h3>Quote </h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="alerts"><h3>Alerts</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="content-section.html"><h3>Content section</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="heroBanner.html"><h3>Hero banner</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="iconLinks.html"><h3>Icon links</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="accessible-player.html"><h3>Accessible Media Player</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="news.html"><h3>News</h3><p>design pattern</p></a></li>
</ul>