<ul class="promo-group">

            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Abbey House Museum</h3><p>Support text</p></a></li>                      <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Kirkstall Abbey</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Leeds Art Gallery</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Leeds Discovery Centre</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Leeds Industrial Museum</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Lotherton Hall</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Temple Newsam</h3><p>Support text</p></a></li>
            <li class="equal-item"><a href=""> <img src="/public/images/AH_Explore.jpg"><h3>Thwaite Mills Watermill</h3><p>Support text</p></a></li>
</ul>