<div class="groupPromo default">
  <div class="listWebpart">
    <h2>
     Default style
    </h2>
    <div class="freeContentArea">
    </div>
    <ul>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/images/540x370.png">         Link item one</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/images/540x370.png">         Link item two with a longer intro</a>
      </li>
      <li>
        <a class="equal-item" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" style="height: 199px;">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="/public/images/540x370.png">Link item three</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/images/540x370.png">Link item four</a>
      </li>
      <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/images/540x370.png">Link item five</a>
      </li>
            <li>
        <a class="equal-item arrow" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" style="height: 96px;">
          Link item six with a class of arrow</a>
      </li>
      <li>
        <a class="equal-item arrow" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx" style="height: 96px;">
        Link item seven with a class of arrow</a>
      </li>
      <li>
        <a class="equal-item arrow" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 96px;">
         Link item eight with a class of arrow</a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>