

<div class="contentLink"> 
   <div class="listWebpart"> 
      <h2>contentLink  with bootstrap columns classes for width</h2> 
      <ul> 
         <li class="equal-item col-sm-4" style="height: 694px;"> 
            <div>
               <img src="/public/images/540x370.png" alt="" style="border-width: 0px;"> 
               <h2>Join th&#8203;e network...</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-sm-4" style="height: 694px;"> 
            <div>
               <img src="/public/images/540x370.png" alt="" style="border-width: 0px;"> 
               <h2>Join the network...</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-sm-4" style="height: 694px;"> 
            <div>
               <img src="/public/images/540x370.png" alt="" style="border-width: 0px;"> 
               <h2>Join the network...</h2> 
               <p>Find out more about partnerships, funding or traini&#8203;ng opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"> &#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div> 
   </div> 
</div>