<hr class="ms-rteElement-spacer" />
<div class="polaroid">
  <div class="listWebpart">
    <h2>Polaroid style</h2>
    <ul>
      <li class="equal-item">
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf">
          <img style="border-width: 0px;" src="/public/images/540x370.png">          Link item one<span>link item one secondary text</span></a>
      </li>
      <li class="equal-item">
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf">
          <img style="border-width: 0px;" src="/public/images/540x370.png">Link item two with a really long intro for test purposes only<span>link item two secondary text</span></a>
      </li>
      <li class="equal-item">
        <a href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="/public/images/540x370.png"> Link item three<span>link item three secondary text</span></a>
      </li>
      <li class="equal-item">
        <a href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx">
          <img style="border-width: 0px;" src="/public/images/540x370.png">           Link item four<span>link item four secondary text</span></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />